/* styles for pages created by Ashmeet  */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Tektur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Preahvihear&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa';
    color: white;
}

p {
    margin: 0;
    padding: 0;
}



.bgblack {
    background-color: black;
}

.font-comfortaa {
    font-family: 'Comfortaa';

}

.font-tektur {
    font-family: 'Tektur';
}

.font-exo {
    font-family: 'Exo 2';
}

.font-preahvihear {
    font-family: 'Preahvihear';
}

.hover-orange:hover {
    fill: #ff8330;
    color: #ff8330;
    transition: 0.2s;
    scale: 1.1;
}

.orangeCol {
    color: #ff8330;

}

.bgdefination {
    background-color: #1b4e01;
    fill: #1b4e01;
}

.bgenvironmenteffect {
    background-color: #205e00;
    fill: #205e00;
}

.text-justify {
    text-align: justify;
}


.effects-card {
    background-color: #316a15;
    transition: 0.6s;
}

.bgorganisations {
    background-color: #267100;
    fill: #205e00;

}

.organisation-card {
    background-color: #317d0a;
    fill: #205e00;
}

.translucent-black {
    backdrop-filter: blur(20px);
    background-color: rgb(14, 14, 14);
}

.signField {
    background-color: #191919 !important;
    border: #c2540a !important;
    color: #cacaca !important;
}

.signButton {
    background-color: black;
    border-color: #ce6b08;
    transition: 0.4s;
}

.signButton:hover {
    background-color: #c2540a;
    border: black;
    scale: 1.04;
}

.signOther {
    color: #ff8330;
}

.signOther:hover {
    color: #db5800;

}

.img-earth {
    height: 300px;
    width: auto;
}

.blog-card {
    background-color: #1d1d1d;

}

.img-blog {
    width: 600px;
    height: 400px;
}

.blogWriteBG {
    background-color: #1d1d1d;
}


.blogField {
    background-color: #2e2e2e !important;
    border: none !important;
    color: white !important;
}

.buttonPost {
    background-color: #fc7a23;
    border: none;
    color: black;
    transition: 0.3s;
}

.buttonPost:hover {
    background-color: green;
    color: black;
    scale: 1.1;
}

.buttonRead {
    background-color: #fc7a23;
    border: none;
    color: black !important;
    transition: 0.3s;
}

.buttonRead:hover {
    background-color: #e85d00;
    scale: 1.1;
}

.blog-img {
    width: 100%;
    height: auto;
}

.bgdblue {
    background-color: #05194c;
}

.bgQuizOption {
    background-color: #17337c;

}

.bgQuiz {
    background-color: #081f5a;
}

.btn-quiz {
    background-color: #17337c;
    color: white;
    transition: 0.3s;
    border: none;
}

.btn-quiz:hover {
    background-color: #17337c;
    scale: 1.1;
    color: white;
}

label {
    width: 100%;
}


.caseimg {
    width: 15em;
    margin: 10px;
    height: auto;
}


.caseStudy1 {
    background-color: #00536a;
    fill: #00536a;
}

.caseStudy2 {
    background-color: #01607b;
    fill: #01607b;
}

.caseStudy3 {
    background-color: #006e8c;
    fill: #01607b;
}


.footer-link {
    color: #ff8330;

}

.footer-link:hover {
    color: #bb5715;
}

.bgBlog {
    background-color: rgb(22, 22, 22);
}

#blogPost {
    background-color: rgb(3, 75, 88);
    position: fixed;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;

}

.blogRead {
    background-color: rgb(3, 75, 88);
    position: absolute;
    height: fit-content;
    min-height: 90vh;
    width: 90vw;
    top: 5vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
}

.blur {
    filter: blur(10px);
}

.closeBtn{
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
}