/* styles for pages created by Ashmeet  */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:200,300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Tektur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Preahvihear&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa';
    color: white;

}





.bgblack {
    background-color: black;
}

.font-comfortaa {
    font-family: 'Comfortaa';

}

.font-tektur {
    font-family: 'Tektur';
}

.font-exo {
    font-family: 'Exo 2';
}

.font-preahvihear {
    font-family: 'Preahvihear';
}

.hover-orange:hover {
    fill: #ff8330;
    color: #ff8330;
    transition: 0.2s;
    scale: 1.1;
}

.color-red {
    color: rgb(145, 0, 0);
}

.button-l1 {
    background-color: #e95500;
    color: white;
    transition: 0.3s;
}

.button-l1:hover {
    background-color: #ff5500;
    border: none;
    scale: 1.2;
}

.landingHead {
    font-size: 3.5em;
}

.bg-green {
    background-color: green;
}

.bgWhat {
    background-color: #a93500;
    fill: #a93500;
}

.bgOrganisation {
    background-color: #bc3c00;
    fill: #bc3c00;
}

.organisation-card {
    background-color: #c94406;
    fill: #c94406;
    text-align: justify;
}

.bgEffects {
    background-color: #ca480c;
    fill: #ca480c;
}

.effect-card {
    background-color: #cd5118;
    fill: #d7591e;
    text-align: justify;
}

.button-l2 {
    background-color: #f05c00;
    color: white;
    transition: 0.3s;
}

.button-l2:hover {
    background-color: #ff6200;
    border: none;
    scale: 1.2;
}


.footer-link {
    color: #ff8330;

}

.footer-link:hover {
    color: #bb5715;
}

.bgCaseStudy {
    background-color: #cd551d;
    fill: #cd551d;
}

.button-l3 {
    background-color: #f16610;
    color: white;
    transition: 0.3s;
}

.button-l3:hover {
    background-color: #f86d17;
    border: none;
    scale: 1.2;
}

.caseStudy-card {
    background-color: #dc5a1e;
    fill: #dc5a1e;
    text-align: justify;
}

.img-logo {
    width: 200px;
    height: 200px;
}

.FAQ {
    background-color: #d46531;
}

.bgFAQbtn {
    background-color: #e7713a;
}

.bgFAQans {
    background-color: #ff702d;

}

.accordion-button {
    --bs-accordion-btn-color: white;
}

.accordion {
    --bs-accordion-active-bg: #e35d1f;
    --bs-accordion-active-color: black;
    --bs-border-color: transparent;
}



#search-input {
    padding: 10px;
    font-size: 16px;
    background-color: #d55703;
    border-radius: 0.5em;
    border: none;
}

#suggestions-list {
    border-radius: 0.5em;
    list-style: none;

    padding: 0;
    margin-top: 7px;
    background-color: #d55703;

}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background-color: #b74b03;
}